 * {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
nav {
    width: 100%;
    background: white;
    
    position: relative;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}
nav ul li {
    padding: 0 20px;
}
section {
    width: 100%;
    display: block;
    position: relative;
    padding: 50px 100px;        
}    
.bg-1{
    background-color: lightgray;     
}
.bg-2{
    background-color: lightgreen;
}
nav.relative {
    position: relative;
}
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 2px gray;
}