 * {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
section {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    padding: 50px 100px;        
}    
.bg-1{
    background-color: lightgray;     
}
.bg-2{
    background-color: lightgreen;
}